@using MoneyShare.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MemberModel> SignInManager
@inject UserManager<MemberModel> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoneyShare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fontawesome.css" />
     <script>
        var jwt = sessionStorage.getItem('jwt');
        if (jwt != null && jwt != " ") {
            var requestInfo = { 'method': 'GET', headers: { 'Authorization': 'bearer ' + jwt }, credentials: 'same-origin' };
            fetch('/api/AuthorizeCheck', requestInfo)
                .then(response => {
                    if (response.ok) {
                        document.getElementById('login').classList.remove('d-none');
                        document.getElementById('register').classList.remove('d-none');
                        document.getElementById('forgotPassword').classList.remove('d-none');
                        document.getElementById('signout').classList.add('d-none');
                        document.getElementById('welcomeTitle').innerText = "Welcome, you are logged in now";
                    }
                });
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MoneyShare</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Register">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a id="register" asp-controller="Home" asp-action="Register" class="nav-link text-dark hide-loggedin">Register</a>
                        </li>
                        <li class="nav-item">
                            <a id="login" href="#" class="nav-link text-dark hide-loggedin" data-toggle="modal" data-target="#modalLogin">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a id="forgotPassword" href="#" class="nav-link text-dark hide-loggedin" data-toggle="modal" data-target="#modalForgotPassword">Forgot Password</a>
                        </li>
                        <li class="nav-item">
                            <a id="signout" href="#" class="nav-link text-dark show-loggedin">Sign Out @UserManager.GetUserName(User) </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MoneyShare - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <div class="modal fade" id="modalLogin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Enter your credentials to log in.
                    <span class="text-danger" id="loginStatus"></span>
                </div>
                <div class="modal-body">
                    <div id="loginUsernamePasswordContainer">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" placeholder="Enter your username" id="loginUsername" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" placeholder="Enter your password" id="loginPassword" />
                        </div>
                    </div>
                    <div class="form-group d-none" id="loginTwoFactorFormGroup">
                        <label for="TwoFactorValue">Enter the six digit code from your email:</label>
                        <input type="password" class="form-control" placeholder="Enter your code" id="loginTwoFactorValue" />
                    </div>
                    <div id="loginSpinner" class="spinner-border text-primary d-none"></div>
                    <button id="loginButton" type="submit" class="btn btn-primary">Log In</button>
                    <button class="d-none btn-primary btn" id="confirmTwoFactorButton" type="submit">Verify Authentication Code</button>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="modalForgotPassword">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Fill out the form to reset password.
                        <span class="text-danger"></span>
                    </div>
                <div class="modal-body">
                    <div id="loginUsernamePasswordContainer">
                        <div class="form-group">
                            <label for="firstName">First name:</label>
                            <input type="text" class="form-control" placeholder="Enter your username" id="forgotPasswordFirstName" />
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name:</label>
                            <input type="text" class="form-control" placeholder="Enter your username" id="forgotPasswordLastName" />
                        </div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" placeholder="Enter your username" id="forgotPasswordUsername" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" placeholder="Enter your email" id="forgotPasswordEmail" />
                        </div>
                    </div>
                    <button id="forgotPasswordButton" type="submit" class="btn btn-primary">Send reset link</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/forgotPassword.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>